*{
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
   font-size: 15px;
   line-height: 1.5;
   color: #000;
   font-family: arial;
    
}
a:hover{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
/*======================================
                    header section
========================================*/
.header-section{
    background-color: #fff;
    /*===============header one section============*/
    .header-one{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .header-one-left {
            padding: 30px 0;
        }
    }
    .header-two-section{
        background-color: #f2f2f2;
        .menu-area{
            width: 100%;
            .main-menu{
                display: flex;
                flex-wrap: wrap;
                li{
                    width: calc(100% / 7);
                    a{
                        color: #000;
                        display: flex;
                        margin: 25px 0;
                        border: 2px solid #000;
                        transition: all ease-in-out .4s;
                        span{
                            margin-right: 10px;
                            i{
                                width: 50px;
                                height: 50px;
                                font-size: 25px;  
                                text-align: center;
                                line-height: 50px;
                            }    
                        }
                        &:hover{
                               background-color: aqua;
                            color: #fff;
                            }
                    }
                }
            }
        }
    }
}

.social-link-list{
    display: flex;
    flex-wrap: wrap;
    padding: 35px 0;
    li{
        padding: 0 15px;
        a{
            span{
                color:#000;
                i{
                    color: #000;
                }
                img{
                    margin-right: 10px;
                }
                
            }  
        }
    }
}

