/*============================================
                    register page
==============================================*/
.register-section.section-padding {
	background: #ecf0f1;
	background: -moz-linear-gradient(left, #ecf0f1 0%, #bdc3c7 34%, #bdc3c7 48%, #bdc3c7 57%, #bdc3c7 73%, #ecf0f1 100%);
	background: -webkit-linear-gradient(left, #ecf0f1 0%,#bdc3c7 34%,#bdc3c7 48%,#bdc3c7 57%,#bdc3c7 73%,#ecf0f1 100%);
	background: linear-gradient(to right, #ecf0f1 0%,#bdc3c7 34%,#bdc3c7 48%,#bdc3c7 57%,#bdc3c7 73%,#ecf0f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf0f1', endColorstr='#ecf0f1',GradientType=1 );
}
.register {
	width: 100%;
}
.register-latter {
	background: rgba(0,0,0,.8);
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
    padding: 15px 19px;
}
.register-latter h2 {
	color: #fff;
}
.register-latter h3 {
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	border-bottom: 1px solid #444;
	padding-bottom: 10px;
}
.register-latter p {
	color: #c7c7c7;
}
.register-menu {
	display: flex;
	flex-wrap: wrap;
}
.register-menu li.register-active{
    background: rgba(145, 151, 155, .5);
}
.register-menu li {
	padding: 19px 30px;
	background: rgba(145, 151, 155, .2);
	margin-right: 3px;
}
.register-menu li a{
    color: #fff;
    font-weight: 600;
}
.register-form {
	padding: 40px 50px;
	background: #a7adb1;
	background: -moz-linear-gradient(left, #a7adb1 0%, #bdc3c7 48%, #bdc3c7 53%, #a7adb1 100%);
	background: -webkit-linear-gradient(left, #a7adb1 0%,#bdc3c7 48%,#bdc3c7 53%,#a7adb1 100%);
	background: linear-gradient(to right, #a7adb1 0%,#bdc3c7 48%,#bdc3c7 53%,#a7adb1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7adb1', endColorstr='#a7adb1',GradientType=1 );
    display: inline-block;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
.form-grp label {
	width: 100%;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}
.form-grp {
	width: 50%;
	padding-right: 25px;
    float: left;
}
.form-grp input {
	background: #91979B;
	border: 1px solid #686E72;
	padding: 10px 20px;
	border-radius: 7px;
	margin-bottom: 15px;
    width: 100%;
}
.register-form input[type=submit] {
	float: right;
	padding: 11px 45px;
	font-size: 17px;
	color: #fff;
	background: #2c3e50;
	border: navajowhite;
	box-shadow: 2px 2px 2px rgba(0,0,0,.8);
}

/*==================================
			outer register
====================================*/
.div-ico2, .div-ico1{
    text-align: center;
    padding: 180px 0;
    margin: 10px 0;
    border: 5px solid #ddd;
}
.div-ico2 i, .div-ico1 i {
    font-size: 140px;
    color: #999;
}
.div-form1, .div-form2 {
    padding: 40px;
    background: #754869;
}
p.heading {
    font-size: 23px;
    font-weight: 500;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
label.control-label {
    color: #fff;
    font-weight: 700;
    text-align: right;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.div-form1 a.btn.btn-default, .div-form2 a.btn.btn-default {
    color: #000;
    background: #fff;
}
.div-form1 label.radio-inline, .div-form2 label.radio-inline  {
    color: #fff;
}