@media only screen and (max-width: 991px) {
    .mobile-menu-area {
    display: block;
}
    .header-one-section {
    display: none;
}
    .header-two-section {
    display: none;
}
    .banner-content button{
        width: 30%;
    }
}




@media only screen and (max-width: 768px){
    .row{
        margin-left: 0;
        margin-right: 0;
    }

    .mobile-side-menu{
        width: 50%;
    }
    .mobile-showme a {
	padding: 6px 15px;
}
    .product-thumb img{
        width: 100%;
    }
}