@import url('https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin-ext');


* {
  padding: 0;
  margin: 0;
  outline: 0; }

body {
  font-size: 15px;
  line-height: 1.5;
  color: #000;
  /*font-family: 'Bree Serif', serif;*/
   }

a:hover {
  text-decoration: none; }

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0; }

img{
  max-width: 100%;
}

:root {
    --bg-color-one: #F6F6E8; 
    --bg-color-two: #D43F3F; 
    --color-one: #33A3C8; 
    --color-two: #fff; 
    --color-three: #404040; 
}
a{
  color:var(--color-three);
}
.bg-color {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6c5ce7+0,6c5ce7+52,6c5ce7+52,00cec9+100 */
background: #6c5ce7; /* Old browsers */
background: -moz-linear-gradient(left, #6c5ce7 0%, #6c5ce7 52%, #6c5ce7 52%, #00cec9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #6c5ce7 0%,#6c5ce7 52%,#6c5ce7 52%,#00cec9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #6c5ce7 0%,#6c5ce7 52%,#6c5ce7 52%,#00cec9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c5ce7', endColorstr='#00cec9',GradientType=1 ); /* IE6-9 */
}
.bg-color-two{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+0,eb4d4b+0,ff7979+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left, #1e5799 0%, #207cca 0%, #eb4d4b 0%, #ff7979 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #1e5799 0%,#207cca 0%,#eb4d4b 0%,#ff7979 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #1e5799 0%,#207cca 0%,#eb4d4b 0%,#ff7979 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ff7979',GradientType=1 ); /* IE6-9 */
}
.bg-color-three{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+0,130f40+0,30336b+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left, #1e5799 0%, #207cca 0%, #130f40 0%, #30336b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #1e5799 0%,#207cca 0%,#130f40 0%,#30336b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #1e5799 0%,#207cca 0%,#130f40 0%,#30336b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#30336b',GradientType=1 ); /* IE6-9 */
}
/*=====================================
                  global css
=======================================*/
.section-padding{
  padding: 150px 0; 
}
.section-padding-100{
  padding: 100px 0;  
}
.section-padding-80{
  padding: 80px 0;  
}
.section-padding-50{
  padding: 50px 0;  
}
/*======================================
                    header section
========================================*/
.header-section {
  background-color: #fff;
  /*===============header one section============*/ }
.header-one-section {
	background: #b7b8bc;
}
.header-section .header-two-section {
	background-color: #f1f2f6;
}
  .header-section .header-one {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .header-section .header-one .header-one-left {
      padding: 30px 0;
  }

  .header-section .header-two-section .menu-area {
      width: 100%;
  }

  .header-section .header-two-section .menu-area .main-menu {
      display: flex;
      flex-wrap: wrap;
  }

  .header-section .header-two-section .menu-area .main-menu>li {
      width: calc(100% / 7);
      position: relative;
  }

  .header-section .header-two-section .menu-area .main-menu>li>a {
      color: var(--color-three);
      display: flex;
      margin: 25px 0;
      border: 2px solid #000;
      transition: all ease-in-out .4s;
  }

  .header-section .header-two-section .menu-area .main-menu>li>a span {
      margin-right: 10px;
  }

  .header-section .header-two-section .menu-area .main-menu>li>a span i {
      width: 50px;
      height: 50px;
      font-size: 25px;
      text-align: center;
      line-height: 50px;
  }

  .header-section .header-two-section .menu-area .main-menu>li>a:hover {
      background-color: aqua;
      color: #fff;
  }

.social-link-list {
    display: flex;
    flex-wrap: wrap;
    padding: 35px 0;
}

.social-link-list > li {
    padding: 0 15px;
}

.social-link-list > li > a span {
    color: #000;
}

.social-link-list > li > a span i {
    color: #000;
}

.social-link-list > li > a span img {
    margin-right: 10px;
}
/*========menu area =========*/
.mobile-menu-area {
    display: none;
}
.mobile-showme {
    background: url(../../assets/images/menu/ganapathy-kumar-540091-unsplash.jpg) no-repeat center center/cover;
    padding: 15px 0;
}
.mobile-showme a {
    padding: 10px 40px;
    background: #fff;
    margin-left: 25px;
    color: #000;
    font-weight: 600;
    box-shadow: 0px 11px 27px 0px rgba(0,0,0,0.9);
}
.mobile-middle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
}
.mobile-middle .toggle-button {
    padding: 10px;
    background: transparent;
    border: none;
}
.mobile-middle .toggle-button span {
	width: 30px;
	height: 3px;
	background: #545454;
	margin-bottom: 5px;
	display: block;
    transition: 1s;
}
.mobile-middle .toggle-button.button-imp span:nth-child(2){
    transform: scaleY(0);
}
.mobile-middle .toggle-button.button-imp span:nth-child(1) {
    transform: rotate(45deg) translate(11px);
}
.mobile-middle .toggle-button.button-imp span:nth-child(3){
    transform: rotate(-45deg) translate(11px);
}
button-imp
.mobile-cart a {
    font-size: 20px;
    margin-right: 20px;
    color: #999;
}

.mobile-side-menu {
    position: fixed;
    top: 160px;
    left: -100%;
    width: 25%;
    height: 100vh;
    background: #f2f2f2;
    z-index: 9999;
    transition: all 1s;
}
.mobile-side-menu.mobile-side-show {
    left: 0;
}


ul.mobile-menu li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
ul.mobile-menu>li>a {
    padding-left: 10px;
    color: #000;
    display: flex;
    justify-content: space-between;
}
.mobile-acc{
    display: flex;
    flex-wrap: wrap;
}
.mobile-acc li{
    padding: 10px 0;
    text-align: center;
    width: 33.33%;
}
.mobile-acc li a{
    color: #000;
}
ul.mobile-menu>li>a>i {
    font-size: 20px;
    color: #999;
    margin-right: 10px;
    transition: .4s;
}
.mobile-sub-menu{
    display: none;
}
ul.mobile-menu li.menu-side-active>a>i {
    transform: rotate(180deg);
}
.mobile-cart a i {
	color: #999;
	font-size: 20px;
	margin-right: 20px;
}
.mobile-search {
	padding: 10px 0;
	background: #ddd;
}
.mobile-search input {
	width: 80%;
	margin: auto;
	display: inherit;
	padding: 5px 20px;
	border: 1px solid #000;
    color: #000;
}
ul.mobile-sub-menu>li>a {
    padding-left: 10px;
    color: #000;
}

.sub-menu {
  min-width: 200px;
  background: var(--bg-color-one);
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: all ease 1s;
    z-index: 99;
}
.sub-menu li {
  padding-left: 10px;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #000;
}
.sub-menu li a {
  color: var(--color-three);
}
.header-section .header-two-section .menu-area .main-menu>li:hover .sub-menu{
  transform: scaleY(1);  
}

/*===========================================
                    banner section
=============================================*/
.banner-section {
	height: 600px;
	position: relative;
    overflow: hidden;
}

.banner-section video {
    width: 100%;
}
.banner-content-area {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	text-align: center;
}
.banner-content h2{
    font-size: 50px;
    color: var(--color-two);
    font-weight: 600;
}
.banner-content p{
    color: var(--color-two);
}
.banner-content input {
	padding: 19px;
	width: 60%;
	border: none;
	box-shadow: 3px 2px 0px #ddd;
}
.banner-content button {
	width: 20%;
	padding: 20px 0;
	border: none;
    background-color: var(--color-one);
}
.banner-content button i{
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background-color: var(--color-two);
    border-radius: 100%;
}
.banner-content-icon {
	display: flex;
	padding: 50px 0;
	flex-wrap: wrap;
	width: 100%;
}
.banner-icon-iem {
	width: 25%;
}
.banner-icon-iem h4{
    color: var(--color-two);
    font-size: 18px;
}
/*==============================
        feature section
=============================*/
.feature-section {
	background: var(--bg-color-one);
}
.feature-list {
	display: flex;
	width: 100%;
    flex-wrap: wrap;
}
.feature-list li {
	padding: 20px 0;
    width: 20%;
    text-align: center;
}
.feature-list li:hover{
    background-color:#ddd; 
}
.feature-list li a{
    color: var(--color-three);
}
/*==============================
        author section
=============================*/

.author-container, .author-container-two, .author-container-three{
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}
.author-item {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	text-align: center;
	margin: 25px 0;
	box-shadow: 3px 3px 3px #ddd;
	padding: 30px 10px;
	border: 2px solid #c6c6c6;
}
.author-thumb {
    margin-bottom: 15px;
}
.author-thumb img {
  border-radius: 16px;
  height: 136px;
  width: 180px;
  padding: 5px;
  /*! border: 1px solid red; */
  background: #fff;
  box-shadow: 3px 3px 3px #ddd;
    transition: 1s;
}

.author-content{
    -webkit-transition: all .5s; /* Safari */
    -moz-transition: all .5s;  
}
.swiper-slide:hover .author-item .author-content{
    color: #fff;
}
.swiper-slide:hover .author-item{
background: #6c5ce7;
}
.author-content {
	padding: 25px 0;
}
.author-content h5 {
	position: absolute;
	top: 100%;
    transition: 1s;
}
.author-content p {
	position: absolute;
	top: 100%;
    transition: 1s;
}
.author-content h4{
    transition: 1s;
}
.author-item:hover .author-thumb img {
    transform: scale(0.5, .5) translate(-256px,-92px);
}
.author-item:hover .author-content h4{
    transform: rotate(90deg) translate(-33px,134px);
}
.author-item:hover .author-content h5{
    top: 31px;
    left: 30%;
}
.author-item:hover .author-content p {
    top: 57px;
    left: 29%;
    right: 10px;
    text-align: justify;
}
.author-container-two{
    
}

/*==================================
            product section
====================================*/
.product{
  width: 100%;
}
.product-content-top {
  display: flex;
  justify-content: space-between;
}
.product-content-top span{
  width:40px;
  height: 40px;
  background-color: #ddd;
  text-align: center;
  border-radius: 5px;
  line-height: 40px;
}
.product-content-top a i{
  line-height: 40px;
  font-size: 20px;
}
.product-content-top h5 a{
  color: blue;
}
.product-content-top p{
  margin: 0;
}
.product-content {
  padding: 25px 20px;
}
.product-content-bottom {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.product-content-top h5 {
  font-size: 15px;

  line-height: 1;
  margin: 0;
}

.star-list {
  display: flex;
  flex-wrap: wrap;
}
.star-list li {
  padding: 0 2px;
}
.star-list li a i {
  font-size: 20px;
}
.product-content-bottom h3{
  font-size: 16px;
}
.product-thumb {
    position: relative;
    overflow: hidden;
}
.product-overly{
	position:absolute;
	top:50%;
	text-align:center;
	width:100%;
    transform: translateY(-50%);

}
.product-overly .view, .product-overly .order {
    padding: 12px 40px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    transition: 1s;
}
.product-thumb:hover .product-overly .view, .product-thumb:hover .product-overly .order{
    opacity: 1;
    transform: translate(0);
} 
.product-overly .order{
    opacity: 0;
    transform: translate(186px);
    background-color: #3498db;
}
.product-overly .view {
    opacity: 0;
    transform: translate(-186px);
    background-color: #c0392b;
}
/*===================================
                product details page
=======================================*/
.product-details-section{
    background-color: #fafafa;
}
.product-title{
    margin-bottom: 25px;
}
.nav {
    flex-direction: column;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-item {
    width: 120px;
}
.product-item {
    box-shadow: 0px 0px 2px 1px #ddd;
    margin-bottom: 15px;
    border-radius: 4px;
}
.nav-tabs .nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: none;
}
.product-tab{
	display:flex;
	width:100%;
}
.product-details-item{
	width:100%;
	display:inline-block;
}
.product-details{
    display: inline-block;
    width: 100%;
}
.tab-product-item-thumb{
	margin: 0 10px 0;
	padding:10px;
	border:1px solid #ddd;
	background-color:#fff;
    border-radius: 5px;
}
.tab-product-item-content {
  padding: 25px 15px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
}
.tab-product-item-content .product-list li:last-child a{
    float: left;
}
.tab-product-item-content .product-list>li {
    display: flex;
    padding: 10px 21px;
}
.tab-product-item-content .product-list .social-link-list{
    padding: 0 5px;
}
.tab-product-item-content .product-list .social-link-list > li {
    padding: 0 5px;
}
.tab-product-item-content .product-list > li {
	display: flex;
	padding: 10px 21px;
	background: #636363;
	margin: 0 8px;
	border-radius: 5px;
}
.tab-product-item-content .product-list > li a{
    color: #fff;
}
.product-licanse {
	padding: 20px 15px;
	background: #f1f2f6;
	border: 2px solid #E6E6E6;
	margin-bottom: 30px;
}
.additional li .additional-left {
	display: flex;
	height: 40px;
	align-items: center;
}
.additional li .additional-left p, .additional-right p {
	margin-bottom: 0;
}
.additional-right {
	display: flex;
	align-items: center;
}
.additional li {
	display: flex;
	justify-content: space-between;
}
.additional li .additional-left span input {
	margin-right: 5px;
}
.add-cart {
    background-color: #3498db;
}
.buy-now {
    background-color: #c0392b;
}
.add-cart, .buy-now {
	display: block;
	text-align: center;
	padding: 10px 0;
	color: #fff;
	font-size: 18px;
	margin: 10px 0;
	border-radius: 5px;
}
.product-licanse-title {
	display: flex;
	justify-content: space-between;
}
.tab-product-item-content h3 {
	margin-top: 50px;
}
.tab-product-item-content p {
	padding: 20px 0;
}

.author-info {
	padding: 20px 15px;
	background: #f1f2f6;
	border: 2px solid #E6E6E6;
	margin-bottom: 25px;
}
.author-profile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.author-profile>span {
	background: #6c5ce7;
	height: 40px;
	width: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 5px;
    margin: 15px 15px 15px 0;
}
.author-info p {
	padding: 10px 0;
}
.author-info p span{
    color: #0984e3;
}
.comment-section .author-profile {
	border: 1px solid #ddd;
	padding: 20px 15px;
	background: #f1f2f6;
	border: 2px solid #E6E6E6;
}
.comment-section .author-profile p{
    width: 100%;
    display: flex;
}
.comment-section .author-profile h4 a {
	padding: 2px 20px 4px;
	font-size: 13px;
	background: #a29bfe;
	border-radius: 4px;
	color: #fff;
}
.comment-list-section {
	margin: 50px 0;
}
.comment-title {
	text-align: center;
}
.comment-title h3{
    position: relative;
}
.comment-title h3::after{
    content: "";
    position: absolute;
    top: 120%;
    left: 50%;
    width: 50px;
    height: 4px;
    transform: translateX(-50%);
        
}
.comment-list{}
.comment-list>li{
   
}
.comment-list li {
	margin: 25px 0;
	width: 90%;
    position: relative;
    display: inline-block;
}
.comment-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border: 1px solid #dddddd;
	padding: 25px 15px;
	background: #fff;
	/* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); */
	box-shadow: 1px 1px 3px 0px #6c5ce7;
}
.comment-item-thumb {
	width: 80px;
}
.comment-item-content {
  width: calc(100% - 80px);
}
.comment-item-content p{
    text-align: justify;
}
.comment-item-thumb img {
  border-radius: 100%;
}
.comment-item-content h2 {
	font-size: 18px;
	color: #4543a6;
}
.comment-item-content .comment-time {
	font-size: 14px;
	color: #999;
	margin-bottom: 10px;
	display: block;
}
.comment-reply a {
	color: #fff;
	padding: 6px 25px 8px;
	border-radius: 3px;
	box-shadow: 3px 3px 3px #555555;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6c5ce7+0,6c5ce7+52,6c5ce7+52,00cec9+100 */
background: #6c5ce7; /* Old browsers */
background: -moz-linear-gradient(left, #6c5ce7 0%, #6c5ce7 52%, #6c5ce7 52%, #00cec9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #6c5ce7 0%,#6c5ce7 52%,#6c5ce7 52%,#00cec9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #6c5ce7 0%,#6c5ce7 52%,#6c5ce7 52%,#00cec9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c5ce7', endColorstr='#00cec9',GradientType=1 ); /* IE6-9 */
}
.comment-reply {
	display: inline-block;
	width: 100%;
	text-align: right;
}
/*
.comment-list li::after {
	content: "";
	position: absolute;
	border-top: 20px solid #6c5ce700;
	border-bottom: 20px solid #6c5ce700;
	border-left: 20px solid #6c5ce700;
	border-right: 20px solid #6c5ce799;
	top: 50%;
	right: 100%;
	transform: translateY(-50%);
}
*/
.comment-list li.comment-reply-item .comment-item-content {
	order: -1;
	text-align: right;
}
.comment-list li.comment-reply-item {
	float: right;
}
.comment-list li.comment-reply-item::after {
	border-left: 20px solid #6c5ce799;
	border-right: 20px solid #6c5ce700;
	top: 50%;
    left: 100%;
}
.comment-list li.comment-reply-item .comment-item-thumb {
    text-align: right;
}
.comment-list li.comment-reply-item .comment-reply {
    text-align: left;
}
.comment-form-section {
	background: #fff;
	box-shadow: 1px 3px 11px 0px #6c5ce7;
	padding: 10px;
}
.comment-form-section form textarea {
	width: 100%;
	height: 200px;
	margin: 25px 0;
	padding: 12px 9px;
	border: 2px solid #ddd;
}
.comment-form-section form textarea:focus{
    border: 2px solid #6c5ce7;
}
.comment-form-section form input {
	padding: 10px 25px;
	color: #fff;
    
	border: none;
    box-shadow: 3px 3px 3px #555555;
    cursor: pointer;
    
    
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6c5ce7+0,6c5ce7+52,6c5ce7+52,00cec9+100 */
background: #6c5ce7; /* Old browsers */
background: -moz-linear-gradient(left, #6c5ce7 0%, #6c5ce7 52%, #6c5ce7 52%, #00cec9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #6c5ce7 0%,#6c5ce7 52%,#6c5ce7 52%,#00cec9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #6c5ce7 0%,#6c5ce7 52%,#6c5ce7 52%,#00cec9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c5ce7', endColorstr='#00cec9',GradientType=1 ); /* IE6-9 */
}

/*=========================
            live preview
===========================*/
.preview-header {
	display: flex;
	justify-content: space-between;
	padding: 25px 40px;
	flex-wrap: wrap;
}
.preview-header-right {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.preview-header .buy-now {
	padding: 10px 40px;
	margin: 10px 26px 10px;
	border-bottom: 2px solid #540000;
}




.feature-slider.swiper-container-horizontal{
	overflow:hidden;
	position:relative;
	
}


/*======================================
            author page section
=======================================*/
.author-menu {
	display: flex;
	flex-wrap: wrap;
}
.author-menu li {
}
.author-menu li.active a{
    color: #6c5ce7;
}
.author-menu li.active{
    background-color: #fff;
}
.author-menu li a {
	padding: 15px 12px;
	display: block;
	color: #fff;
}
.author-portfolio-item {
	margin: 25px 0;
	padding: 12px 20px;
	display: flex;
	align-items: center;
	box-shadow: 0px 0px 4px 2px #000;
	background: #dddddd;
}
.author-portfolio-item-left {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 40%;
	padding-right: 20px;
}
.author-portfolio-item-left img {
	width: 80px;
}
.author-portfolio-item-left h2 {
	width: calc(100% - 80px);
	padding-left: 10px;
	font-size: 19px;
}
.author-portfolio-item-middle {
	width: 40%;
	padding-right: 20px;
}
.author-portfolio-item-right {
	width: 20%;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.author-portfolio-item-right .star-list {
	justify-content: center;
}
.author-portfolio-item-right .star-list li a i{
   font-size: 15px;
}
.price {
	font-size: 25px;
}
.sell {
	color: #6c5ce7;
}

/*========================================================
                        dashbroad page
==========================================================*/
.side-navbar{
    top:206px;
    position: inherit;
}
.page{
    top:206px;
}
.author-details-sitting {
	width: 100%;
}
.author-details-sitting-left{
	padding: 20px 15px;
	background: #f1f2f6;
	border: 2px solid #E6E6E6;
}
.author-details-sitting-left h3 {
	padding-bottom: 10px;
	padding-top: 5px;
}
.author-details-sitting-left ul li {
	padding: 8px 0;
}
.author-details-sitting-header {
	padding: 20px 0 13px 16px;
	border: 1px solid #ddd;
}
.author-details-sitting-wrapper {
	padding: 20px 15px;
	margin: 10px;
	box-shadow: 3px 3px 3px #ddd;
}
.author-profile-item-header {
    display: flex;
    justify-content: space-between;
    background: url(../../assets/images/author/author-profile-bg.jpg) no-repeat center center/cover;
    padding: 50px;
}
.author-profile-header-content {
    width: 60%;
    color: #fff;
}
.author-profile-header-content h3{
    color: #6c5ce7;
}


.author-profile-menu {
  display: flex;
  flex-wrap: wrap;
}
.author-profile-menu li {
  width: 25%;
  text-align: center;
  padding: 10px 0;
  position: relative; 
    overflow: hidden;
    z-index: 1;
}
.author-profile-menu li a span {
  display: block;
}
.author-profile-menu li a {
  color: #fff;
  border-right: 1px solid aliceblue;
  width: 100%;
    z-index: 10;
    transition: .5s;
     
}
.author-profile-menu li::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    left: -100%;
    top: 0;
    background: #fff;
    transition: .8s;
    z-index: -1;
}
.author-profile-menu li::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    right: -100%;
    top: 0;
    background: #fff;
    transition: .8s;
    z-index: -1;
}
.author-profile-menu li:hover::after{
    left: 0;
}
.author-profile-menu li:hover::before{
    right: 0;
}
.author-profile-menu li:hover a{
    color: #6c5ce7;
}
.author-skill-header h3 {
    font-size: 30px;
    padding-bottom: 15px;
    border-bottom: 3px solid #ddd;
    margin-bottom: 50px;
}
.author-skill-wrapper h5 {
	font-size: 14px;
	margin-bottom: 15px;
	color: #999;
	border: 2px solid #C4C4C4;
	border-radius: 5px;
}
.author-skill-wrapper h5 span {
	font-size: 14px;
	color: #000;
	padding: 4px 15px 6px;
	
}
.author-contact {
	padding: 8px 20px;
	margin-right: 10px;
	color: #fff;
	border-radius: 5px;
}
.author-contact:hover{
    color: #fff;
    opacity: .8;
}
.author-skill-wrapper h6 {
	color: #777777;
}
.progress {
	background-color: #c1c4c7;
}
.author-progress {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 2px 0 4px;
	align-items: center;
}
.author-progress label {
	margin-bottom: 0;
}
.author-progress-main {
	border: 2px solid #ddd;
	width: 100%;
	margin: 0 15px;
	box-shadow: 0px 0px 4px 2px #ddd;
	padding: 40px 0;
}
.author-selling-section.section-padding {
	padding-left: 50px;
	padding-right: 50px;
}
.author-selling-header {
	width: 100%;
    border-bottom: 2px solid #ddd;
    padding: 25px 0;
}

.author-selling-header h2 {
	color: #6d6e70;
}
.author-selling-wrapper {
	width: 100%;
}
.author-selling-left {
	text-align: center;
}
.author-selling-left-thumb i {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	font-size: 60px;
	line-height: 148px;
	color: #fff;
	margin: 25px 0;
}
.author-selling-right{}
.author-selling-right table {
	width: 100%;
	margin: 25px 0;
}
.author-selling-right table thead {
	border: 2px solid #ddd;
	width: 100%;
}
.author-selling-right table thead tr {
	width: 100%;
	padding: 20px;
}
.author-selling-right table thead tr td {
	width: 33.33%;
	padding: 20px 20px;
}
.author-selling-right table tbody tr {
	padding: 20px 0;
	width: 100%;
	border-bottom: 1px solid #E8E8E8;
}
.author-selling-right table tbody tr td {
	width: 33.33%;
	padding: 15px 20px;
}
.author-selling-right table tbody tr td:nth-child(1){}
.author-selling-right table tbody tr td:nth-child(2) {
	color: #909193;
}
.author-selling-right table tbody tr td:nth-child(3), .author-selling-right table thead tr td:nth-child(3){
    text-align: right;
}
.author-selling-wrapper {
	width: 100%;
	
}
.author-selling-wrapper:nth-child(2){
    border-bottom: 2px solid #6c5ce7;
}
.author-selling-wrapper:nth-child(3){
    border-bottom: 2px solid #eb4d4b;
}
.author-selling-wrapper:nth-child(4){
    border-bottom: 2px solid #130f40;
}
.author-selling-wrapper p{
    color: #6d6e70;
}
.display.h4 {
	font-size: 30px;
	padding: 15px 0;
	text-shadow: 2px 9px #ddd;
    color: #6c5ce7;
}
.cart-page-header {
	padding: 25px 0;
	background: #f9f9f9;
	border-bottom: 1px solid #cacaca;
	box-shadow: 0px 1px 2px 3px #ddd;
}
.page-wrapper {
	width: 100%;
}
.cart-header.bg-color {
	display: flex;
	justify-content: space-between;
	padding: 20px 10px;
	align-items: center;
}
.cart-wrapper {
	padding: 30px 0;
}

.cart-header.bg-color a {
	color: #fff;
	padding: 0px 5px 0px;
	border-radius: 5px;
	font-size: 14px;
}
.cart-item {
	display: flex;
}



.upload-first-header {
    display: flex;
    justify-content: space-between;
}
.upload-first {
    background: #f1f2f6;
    border: 2px solid #E6E6E6;
    padding: 10px 15px 4px;
    margin: 25px 0;
}
.upload-first-header p {
    background-color: #eb4d4b;
    color: #fff;
    padding: 2px 12px;
    border-radius: 3px;
    margin: 0;
}
.upload-first-header h4{
    margin: 0;
}
.upload-first-wrapper {
    padding: 25px;
}
.upload-first-header p{
    background-color: #eb4d4b;
    color: #fff;
    padding: 2px 12px;
    border-radius: 3px;
}
.cancel-item {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 20px 15px;
    border-radius: 6px;
    box-shadow: 0 0 16px #ddd;
    margin: 15px 0;
}
.cancel-thumb {
    width: 40%;
}
.cancel-content {
    width: 40%;
}
.cancel-area {
    width: 20%;
}
.cancel-content {
    width: 40%;
    padding: 0 25px;
}
.cancel-content h3 {
    margin-bottom: 20px;
}
.cancel-content h5 {
    color: #000;
    width: 100%;
}
.cancel-content p {
    width: 100%;
}
.cancel-content h5 span {
    color: #999;
}
.cancel-area {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    align-content: space-between;
}
.cancel-area h6 {
    width: 65%;
}
a.preview {
    color: #3498db;
    border: 1px solid #3498db;
    padding: 8px 65px;
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
    transition: .6;
}
a.preview:hover:after{
    width: 50%;
}
a.preview:hover:before{
    width: 50%;
}
a.preview:hover{
    color: #fff;
}
a.preview:after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    background-color: #3498db;
    top: 0;
    left: 50%;
    transition: .6s;
    z-index: -1;
}
a.preview:before{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    background-color: #3498db;
    top: 0;
    right: 50%;
    transition: .6s;
    z-index: -1;
}
a.del {
    color: #e74c3c;
    border: 1px solid #e74c3c;
    padding: 9px 70px;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 49px;
}
footer.main-footer{
    position: inherit;
}
section.author-foram-section {
    background: #fff;
}
.foram-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #f3f3f3;
    box-shadow: 0px 1px 8px 1px #ddd;
    margin-bottom: 25px;
}
.author-foram-item {
    border: 1px solid #ddd;
    padding: 30px 25px;
}
.questioner-info img {
    border-radius: 100%;
    border: 2px solid #ddd;
}
.questioner-info img {
    border-radius: 100%;
    border: 2px solid #ddd;
    margin-right: 20px;
}
.questioner-info p {
    margin: 0;
    border-bottom: 0;
}
.questioner-info {
    display: flex;
    align-items: center;
}
.questioner-info span {
    font-size: 12px;
    color: #999;
    margin-left: 15px;
}
.author-foram-item>p {
    border-bottom: 2px solid #ddd;
    padding: 20px 0;
}
.comment-main-sec>.like {
    margin-right: 15px;
}
.comment-main-sec>.comments {
    margin-right: 15px;
}
.comments-area {
    transform-origin: top;
    transition: .4s;
    transform: scaleY(0);
}
.active .comments-area{
    transform: scaleY(1);
}
.write-comment input[type="text"] {
    width: 80%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    background: #fff;
}
.post-comments {
    display: flex;
    background-color: #ddd;
    border: 1px solid #999;
    padding: 10px;
}
.comment-sec a.like {
    margin-right: 10px;
    color: #000;
}
.comment-sec a.reply{
   margin-right: 10px;
    color: #000;
}
.post-comments img {
    border: 2px solid #999;
    border-radius: 7px;
}
.comment-sec p {
    margin: 0;
}
.post-comments img {
    border: 2px solid #999;
    border-radius: 7px;
    margin-right: 20px;
}
.comment-sec p span {
	color: #383838;
	font-weight: 300;
}
.post-comments-child {

    display: flex;
    padding: 10px 0;

}
.post-comments-child {
    display: flex;
    padding: 0px 0;
    flex-wrap: wrap;
    visibility: hidden;
    height: 0px;
    overflow: hidden;
    transition: .9s;
}
.reply-comment {
	width: 100%;
}
.reply-comment {
	width: 100%;
	padding-top: 10px;
}
.reply-comment input {
	padding: 4px;
	width: 75%;
	border: 1px solid #999999;
	border-radius: 3px;
}
.author-developer-header {
    padding: 25px 0;
}
section.author-developer-info{
    background-color: #fff;
}
.form-group.checkboking {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}
.developer-info {
    width: 90%;
    margin: auto;
}
section.author-developer-info .nav-tabs {
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #f3f3f3;
    margin: auto;
    width: 82%;
}

section.author-developer-info .nav-tabs .nav-item {
    width: calc(100% / 6);
    text-align: center;
}
section.author-developer-info .nav-tabs .nav-link{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.section-wrapper {
    width: 100%;
}
.hire-item {
	border: 1px solid #ddd;
	margin-bottom: 30px;
}
.hire-content-top {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}
.hire-content-top img {
    border-radius: 100%;
    margin-right: 5px;
}
.hire-content-top p{
    margin: 0;
}
.hire-content-top p:first-of-type{
    
}
.hire-content-top p:first-of-type {
	color: #666;
	font-size: 12px;
}
.hire-content-middle {
	padding: 5px 10px;
}
.hire-content-middle h3 {
	width: 100%;
	font-size: 16px;
	font-weight: 400;
}
.hire-content-middle {
	padding: 5px 10px;
	display: flex;
	flex-wrap: wrap;
}
.section-header.text-center {
    padding-bottom: 50px;
}
.hire-content-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 2px solid #ddd;
    align-items: center;
}
.hire-content-bottom p{
    margin: 0;
}
.dev-service-item ul li {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.client-post-item {
	flex-wrap: wrap;
	background: #fff;
	padding: 20px 15px;
	border-radius: 6px;
	box-shadow: 0 0 16px #ddd;
	margin: 15px 0;
}
.client-post-item span {
	color: #959595;
	margin-bottom: 10px;
}
.skills {
	display: flex;
	flex-wrap: wrap;
}
.client-post-item .skills li{
   background: #dddd; 
}
.skills li {
	padding: 6px 20px;
	
	margin: 0 5px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #ddd;
}


.dev-service-item ul {
}
.dev-service-item {
}
.hire-details-header ul {
    display: flex;
    margin-bottom: 25px;
}
.hire-details-header ul li i{
    color: gold;
}
.hire-compare-package h2 {
    border: 1px solid #999;
    padding: 10px;
    background: #f3f3f3;
    margin-top: 40px;
}
.hire-compare-package{
    
}
.hire-compare-package table{
   border: 3px solid #999; 
}
.hire-compare-package table tr td {
    width: 25%;
    padding: 10px;
}
.hire-compare-package table tr td i{
    color: skyblue;
}
.hire-compare-package table tr td:nth-child(1){
    background-color: #f3f3f3;
}
.hire-compare-package table tbody tr:last-child td{
    color: skyblue;
}
.hire-profile {
    border: 2px solid #ddd;
    padding: 25px 10px;
    text-align: center;
}
.hire-profile img {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    display: inherit;
    background: #fff;
    border: 2px solid #999;
    padding: 7px;
    border-radius: 8px;
}
.hire-profile .hire-btn {
    padding: 5px 30px;
    color: #fff;
    margin: 10px 0;
    border-radius: 4px;
}
.hire-profile .social-link-list > li {
    margin: 0 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    
    border-radius: 100%;
    text-align: center;
    padding: 0;
}
.hire-profile .social-link-list li:nth-child(1){
    background: #3D5999;
}
.hire-profile .social-link-list li:nth-child(2){
    background: #60A9DD;
}
.hire-profile .social-link-list li:nth-child(3){
    background: #0777B6;
}
.hire-profile .social-link-list > li a{
    color: #fff;
}
.hire-compare-package table thead tr td{}
.package-service-details {
    padding: 20px;
    background: #f1f1f1;
    border: 1px solid #999;
}
.package-service-details ul li {
    list-style: square;
    padding: 10px 0;
    margin-left: 20px;
}
.package-service-details ul {
    list-style: square;
}
.others-service {
    
}
.others-service ul {
    text-align: center;
}
.others-service ul li {
    padding: 10px 0;
    border-bottom: 1px solid #999;
}
.others-service ul li:first-child{
    background-color: #f3f3f3;
}
.others-service {
    border: 1px solid #4444;
    margin: 25px 0;
}
.others-service ul li p{
    margin: 0;
}
.others-service ul li span {
    color: #999;
}
.header-area {
    background: url(../../assets/images/author/authorearning.jpg) no-repeat center center/cover;
    padding: 80px 0;
    text-align: center;
    width: 100%;
    color: #fff;
    position: relative;
    z-index: 1;
}
.header-area h2{
    font-size: 30px;
}
.header-area:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(113, 88, 226, .5);
    z-index: -1;
}
.author-earning-item:first-child{
}
.author-earning-item {
    background: #fff;
    padding: 30px 20px;
    margin: 20px 0;
    box-shadow: 5px 0px 13px 2px #ddd;
}
.author-earning-item img {
    display: block;
    margin: 0 auto;
    width: 100px;
    border-radius: 100%;
}
.author-earn-btn {
    padding: 5px 20px;
    color: #fff;
    margin-top: 11px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #ddd;
}
.earning-item-header h2 {
    font-size: 34px;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.earning-item-wrapper span {
    display: flex;
    flex-wrap: wrap;
}
.earning-item-wrapper span h3 {
    width: 79%;
}
.earning-item-wrapper span .author-earn-btn{
    margin-bottom: 10px;
}
.earning-item-wrapper .skills li {
    padding: 2px 8px;
}
.earning-item-wrapper .skills li a{
    color: #fff;
}
.customize textarea.form-control {
    height: 49px;
}
.developer-skill-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 0;
    align-items: center;
}
.developer-skill-item label {
    margin: 0;
    width: 15%;
}
.developer-skill-item .progress {
    width: 85%;
}
.developer-skill-area {
    margin: 10px 25px;
    border: 1px solid #999;
}
section.author-developer-info input {
    border-radius: 4px;
}
section.author-developer-info select {
    border-radius: 4px;
}
section.author-developer-info .card-header {
    padding: 0;
    background-color: #f3f3f3;
    border-bottom: 1px solid #eee;
}

section.author-developer-info label {
    width: 100%;
}

.startselling-section {
  background: url(../images/section/section.jpg) no-repeat center center/cover;
  position: relative;
    z-index: 1;
}
.startselling-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}
.startsellingfirst {
    text-align: center;
    color: #fff;
}
.selling-btn {
  text-align: center;
}
.selling-btn a {
    background: #6c5ce7;
    padding: 10px;
    color: #fff;
    margin-top: 25px;
    display: inline-block;
    border-radius: 5px;
}
.startselling-item {
    width: 100%;
}
.starselling-option-item {
	border: 1px solid #999;
	padding: 15px 20px;
	margin: 10px 0;
}
.startselling-item-left {
    background: #fff;
    padding: 25px 15px;
    padding-right: 85px;
    box-shadow: 3px 3px 3px #ddd;
}
.startselling-second {
   background: #f3f3f3;
}
.startselling-item-right {
    background: #fff;
    padding: 25px 15px;
    box-shadow: 3px 3px 3px #ddd;
}
.startselling-item {
	width: 100%;
	border-bottom: 3px solid #ddd;
	border-top: 3px solid #ddd;
	padding: 20px 0;
}
.startselling-bottom {
    box-shadow: 0px 1px 3px 3px #ddd;
    padding: 25px;
}
.startselling-bottom a {
    background: #6c5ce7;
    padding: 10px;
    color: #fff;
    margin-top: 25px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

.footer-about {
    width:  100%;
    text-align: center;
    padding:  50px 0;
}

section.footer-about-section {
    background: #ECEFF1;
}

main.footer-aboutmain-section {
    padding:  50px 0;
    background:  #ECEFF1;
}

.about-main-header {
	width: 100%;
	background: #ECEFF1;
	padding: 20px 0 15px 30px;
	border: 2px solid #cdcdcd;
}

.about-main-item {
    background:  #fff;
    padding:  0 25px;
    border-bottom:  2px solid #ddd;
}

.about-main-item h3 {
    padding: 40px 0;
}

.about-main-item h6 {
    font-weight:  700;
    font-size:  18px;
    margin-bottom:  10px;
}

.about-main-item p {
    padding-bottom:  10px;
}
.about-main-item ul li {
    padding: 5px;
}
.about-main-item ul li i{
    padding-right: 5px;
}
.footer-career-section {
    background: url(../../assets/images/banner/footer-career-banner.jpg) no-repeat center center/cover;
}
.footer-career-banner {
    padding: 50px 0;
    text-align: center;
    width: 100%;
    
}
.footer-career-banner h1{
    color: #fff;
}
.footer-career-content {
    text-align: center;
    padding: 50px 0;
    background: #f3f3f3;
    border: 1px solid #ddd;
    margin: 20px 0;
    box-shadow: 3px 3px 3px #ddd;
}
section.footer-career-second .footer-career-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.footer-career-contentleft {
    width: 66.66%;
    position: relative;
}
.footer-career-contentright {
    width: 33.33%;
}
.icon-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}
.footer-career-contentright {
    width: 33.33%;
    background: #1F1F1F;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
}
section.footer-career-thirtd .footer-career-content {
    padding: 0;
    display: flex;
}
section.footer-career-thirtd .footer-career-contentright {
    background: #f3f3f3;
    color: #000;
} 
.guide-section div#accordionEx {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}
.footer-career-banner p {
    color: #fff;
}


.swiper-bannar-v10 {
    overflow: hidden;
    
}
.bannar-swiper-prev, .bannar-swiper-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    transform: translateY(-50%);
    text-align: center;
    color: #363636;
    z-index: 2;
    border-radius: 20px;
}
.bannar-swiper-prev {
    right: 0px;
    left: auto;
}
.bannar-swiper-next {
    left: 0px;
    right: auto;
}
.swiper-bannar-v10 .bannar-swiper-prev i, .swiper-bannar-v10 .bannar-swiper-next i {
    line-height: 33px;
    width: 33px;
    font-size: 31px;
    height: 33px;
    color: #fff;
}
.bannar-silder-inner {
    padding: 0 120px;
    position: relative;
}
.swiper-bannar-v10 .swiper-slide img {
    border-radius: 100%;
    border: 3px solid #fff;
}
.swiper-bannar-v10 .swiper-slide h5 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
}
.swiper-bannar-v10 .swiper-slide h6 {
    font-size: 14px;
    color: #fff;
    margin-top: 5px;
}
.swiper-bannar-v10 .swiper-slide {
    text-align: center;
}
.bannar-silder {
    padding: 50px 0;
}
.banner-section.v-2{
    height: inherit;
}
.banner-section.v-2 .carousel-caption {
    right: inherit; 
    bottom: inherit; 
    left: inherit; 
    width: 100%;
    top: 0;
    padding: 100px 0;
}
.carousel-caption-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    flex-wrap: wrap;
}
.carousel-caption-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}
.banner-section.v-2 .product-top-content {
    text-align: left;
}
.banner-section.v-2 .product-content-top h5 {
    font-size: 27px;
    font-weight: 700;
}
.banner-section.v-2 .product-content-top h5 a {
    color: #fff;
}
.banner-section.v-2 a.view {
    padding: 7px 43px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    transition: 1s;
    background: #3498db;
}
.banner-section.v-2 a.order{
     padding: 7px 43px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    transition: 1s;
    background: #28B9B5;   
}
.banner-section.v-2 .star-list li a i {
    
    color: gold;
}
.carousel-control-next i, .carousel-control-prev i{
    color: #fff;
    font-size: 25px;
}
.category-main-item {
    width: 100%;
}
ul.tempale-catgories li {
    padding: 5px;
}
ul.tempale-catgories li span {
    float: right;
}
ul.tempale-catgories li i {
    color: #9933CC;
    margin-right: 5px;
}
main.category-main-area {
    background: #f1f1f1;
    padding: 50px 0;
}
main.category-main-area .product-content-bottom {
    padding: 17px 0 0;
}
.category-header {
    background: #fff;
    padding: 12px 0 4px 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px #ddd;
}
.category-header h2{
    font-size: 20px;
}



/*==========y‡*/
/*************** SCROLLBAR BASE CSS ***************/
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fff;
    background-color: #999;
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
 
 .mCS-rounded.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #fff;
    background-color: #999;
}
.content {
    background: #ddd;
    height: 300px;
}
ul.cate-tag-list li {
    display: flex;
    justify-content: space-between;
    padding: 5px 4px;
    margin: 4px 0;
    background: #f1f1f1;
    box-shadow: 0px 1px 1px #ddd;
}
div#mCSB_2_container {
    margin-right: 20px;
}
.content {
    background: #fff;
    height: 300px;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
 
 
/*************** SIMPLE INNER SCROLLBAR ***************/
/* stylesheet for demo and examples */


section.tab-author-section ul.nav.md-pills.pills-primary.flex-column {
    padding: 25px 0;
}
section.tab-author-section li.nav-item {
    padding: 5px 0;
    background: #fff;
    margin: 5px;
    box-shadow: 3px 3px 3px #ddd;
}
section.tab-author-section .tab-content>.active {
    display: block;
    padding: 25px 0;
    margin: 12px 0;
    border: 1px solid #ddd;
}
section.tab-author-section .h-px2 label {
    margin-right: 53px;
}
section.tab-author-section .save-area {
    text-align: right;
    padding-top: 27px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}
.developer-page-section {}
.developer-page-section .card-body {
    padding: 1rem 1em;
}

.developer-page-section .card-body h4 {
    font-size: 21px;
    margin: 0;
}
.developer-page-section .card-body button {
    padding: 9px 18px;
}

.developer-page-section ul.developer-s-info li {
    display: flex;
    justify-content: space-between;
}
.developer-page-section ul.developer-s-info li p {
    margin-bottom: 7px;
}
.developer-page-section .skills li {
    padding: 0px 7px;
    margin: 2px 2px;
    border-radius: 2px;
    background: #cfcfcf;
}
.developer-page-section .skills li a{
    font-size:12px;
}
.developer-page-section .skills {
    padding: 6px 0;
}
.developer-page-section .card.card-cascade {
    margin-bottom: 20px;
}
.developer-page-section .card .card-body .card-text {
    margin-bottom: 0;
}
.developer-page-section .font-weight-bold.indigo-text.py-2 {
    margin: 0;
}

.tab-author-section .nav.md-pills.pills-primary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.tab-author-section .upload-picture {

    width: 100%;
    display: flex;

}
.tab-author-section .forbg {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
.tab-author-section .forbg input {

    display: inline-block;
    margin: 0 auto;

}
.tab-author-section .forbg {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	background: #fff;
	padding: 50px 0;
	box-shadow: 3px 3px 3px #ddd;
}
.tab-author-section .forbg i {
	font-size: 60px;
	color: #cacaca;
}

.author-terms form {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.author-terms input {
	padding: 5px 14px;
	display: inline-block;
	width: 300px;
	margin: auto;
	margin-bottom: 10px;
}
.author-terms button {
	width: 63px;
	margin: auto;
	background: #ddd;
	border: 1px solid #b0b0b0;
}